@import "../../Resources/scss/common/_variables";

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 100;

    &__container {
        background-color: $white;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);
    }

    &__content {
        padding: 34px 64px 18px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            margin-bottom: 0;
            color: #3D3D3D;
        }
    }

    .btn {
        &-close {
            top: 5px;
            right: 5px;
            font-size: 10px;
            cursor: pointer;
        }
    }
}
