@using Microsoft.Extensions.Configuration
<div class="pop-up">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="pop-up__container position-relative">
            <div class="pop-up__content">
                <h3>Xóa cuộc bình chọn?</h3>
            </div>
            <div class="pop-up__btn d-flex justify-content-center pb-3">
                <div @onclick="CloseModalAsync" class="btn px-0 pop-up__btn--deny d-flex justify-content-center align-items-center px-3 me-3">Hủy</div>
                <btn class="btn px-0 pop-up__btn--accept d-flex justify-content-center align-items-center px-3" @onclick="Delete">Xóa</btn>
            </div>
        </div>
    </div>
</div>

