<div class="my-election container">
    <hr />
    <div class="text-end @(IsOrg ? "d-block" : "d-none")">
        <h4 class="text-start">Danh sách đề cử</h4>
        <button @onclick="ShowPopupEdit" class="btn-addElection btn mb-3">Thêm đề cử</button>
    </div>
    <div class="election">
        <div class="election__table--header">
            <table class="election__table">
                <tr class="">
                    <th class="election__tilte election__tilte--name ">
                        <i class="material-icons me-1">perm_identity</i>
                        <span>TÊN ĐỀ CỬ</span>
                    </th>
                    <th class="election__tilte election__tilte--org ">
                        <div class="dropdown">
                            <p class="dropdown-toggle mb-0" href="#" role="button" id="dropdown-org" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="material-icons ">perm_identity</i>
                                <span class="me-2 ms-1">TỔ CHỨC</span>
                            </p>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-org">
                                @if (organizations != null)
                                {
                                    @foreach (var item in organizations)
                                    {
                                        bool Checked = false;
                                        foreach (var t in result)
                                        {
                                            if (t.Organization.Name.Contains(item.Name))
                                            {
                                                Checked = true;
                                            }
                                        }
                                    <li><Checkbox Checked="Checked" CheckedChanged="eventArgs => { FilterOrg(item.Name, eventArgs.ToString()); }">@item.Name</Checkbox></li>}
                                }
                            </ul>    
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <div class="election__table--body">
            <table class="election__table w-100">
                @if (candidates != null)
                {
                    @foreach (var item in result)
                    {
                        <tr>
                            <td class="election__text election__text--name">@item.Name</td>
                            <td class="election__text election__text--org">@item.Organization.Name</td>
                            <td class="d-flex align-items-center flex-end election__text election__text--function">
                                <a class="me-3"><span class="material-icons-outlined icon-edit">edit</span></a>
                                <span @onclick="() => ShowPopupDelete(item.Id)" class="material-icons-outlined icon-delete">delete</span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

