<div class="row">
    <div class="candidate d-flex flex-column align-items-center position-relative">
        <h4>Top 1</h4>
        <div class="position-relative">
            <img src="./img/layouttop1.png" alt="Candidate Layout" />
            <img src="./img/candidate.png" alt="Candidate" class="position-absolute" />
        </div>
        <p class="mb-0">Tran Minh Nhat Anh</p>
        <p><span>19940</span> bình chọn</p>
        <button class="position-absolute">
            <span class="material-icons-outlined">
                thumb_up
            </span>
        </button>
    </div>
</div>

@code {

}
