@import '../../Resources/scss/common/_variables';

.row {

    h4 {
        font-weight: 600;
        color: #FACC14;
    }

    h6 {
        font-weight: 800;
        color: $blue;
        font-size: 16px;

        &:hover {
            text-decoration: underline $blue;
            cursor: pointer;
        }

        a {
            color: $blue;
        }
    }

    p {
        margin-bottom: 0;
        font-weight: 400;

        span {
            color: #FACC14;
        }
    }

    img:last-of-type {
        left: 11%;
        width: 296px;
        height: 296px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

    button {
        width: 64px;
        height: 64px;
        bottom: 7%;
        right: -10%;
        line-height: 0;
        background-color: rgba(24,160,251,.2);
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

        span {
            color: $blue;
            font-size: 30px;
        }
    }

    .col-4 {
        img:first-of-type {
            z-index: -1;
            top: -22px;
            right: -50px;
        }

        div:first-child {
            margin-left: -65px;
        }
    }
}

.voting-btn {
    .btn:first-of-type {
        border: none;
        background-color: $white;
        color: #FACC14;
        width: 150px;
        height: 56px;
        font-size: 24px;
    }

    .btn:last-of-type {
        border: none;
        background-color: #FACC14;
        color: $white;
        width: 150px;
        height: 56px;
        font-size: 24px;
    }

    .btn:focus {
        box-shadow: none;
    }
}
