/*#region breakpoints */
/*#endregion */
/*#region mixins */
h2 {
  font-size: 36px;
  font-weight: 600;
  color: #18A0FB; }

.btn-editPage {
  position: absolute;
  top: 110px;
  right: 100px;
  padding: 8px 16px;
  color: #18A0FB;
  background: #FFFFFF;
  border: 1px solid #18A0FB;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-size: 16px; }

button {
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: ease .75s; }
  button .triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #FACC14;
    border-bottom: 10px solid transparent;
    transition: transform .5s; }
  button .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #FACC14;
    border-bottom: 10px solid transparent;
    transition: transform .5s; }
  button span {
    font-size: 24px;
    color: #18A0FB;
    font-weight: 600;
    transition: ease 1s; }

.collapse img {
  object-fit: cover;
  object-position: center;
  border-radius: 20px; }

.collapse video {
  height: 634px; }

::deep .owl-carousel .owl-nav {
  display: block; }
  ::deep .owl-carousel .owl-nav button.owl-next,
  ::deep .owl-carousel .owl-nav button.owl-prev {
    background: #fff;
    opacity: 0.6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 100%;
    top: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    ::deep .owl-carousel .owl-nav button.owl-next span,
    ::deep .owl-carousel .owl-nav button.owl-prev span {
      font-size: 40px;
      margin-bottom: 5px;
      line-height: 0;
      color: #18A0FB; }
    ::deep .owl-carousel .owl-nav button.owl-next:hover,
    ::deep .owl-carousel .owl-nav button.owl-prev:hover {
      background: #fff;
      opacity: 0.6;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
  ::deep .owl-carousel .owl-nav button.owl-prev {
    left: 20px; }
  ::deep .owl-carousel .owl-nav button.owl-next {
    right: 20px; }

::deep .owl-carousel .owl-item {
  padding: 0 7px; }

::deep .owl-carousel .owl-dots {
  display: none; }
