<div class="pop-up">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="pop-up__container position-relative">
            <div class="pop-up__content">
                <h3>Bình chọn thành công</h3>
            </div>
            <div class="pop-up__btn d-flex justify-content-end pb-3">
                <div @onclick="CloseModalAsync" class="btn px-0 pop-up__btn--accept d-flex  align-items-center px-3 me-3">Done</div>
            </div>
        </div>
    </div>  
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }


    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
    }
}
