@import '../Resources/scss/common/_variables.scss';

.col-3 {
    background-color: #363740;
}

.col-9 {
    div:first-child {
        right: 24px;
        z-index: 2;
    }

    .rounded-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #DFE0EB;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
        }
    }
}
