@inherits LayoutComponentBase
<div class="page">


    <div class="main">
        <div class="top-row auth">
            <NavMenu />
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="content">
            @Body
        </div>
    </div>


</div>
