@layout AdminLayout
@attribute [Route(Routes.AdminDetailNomination)]
 
<div class="px-0 ">
    <div class="mx-4">
        <h3 class="title mb-0">Duyệt bình chọn</h3>
        <a class="linkBack my-3 d-inline-block">Quay lại >></a>
    </div>
    
    <div class="mx-4 content">
        <UEHVote.Pages.DetailVote.Index />
    </div>
</div>   

@code {

}
