<div class="pop-up">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="pop-up__container position-relative">
            <div class="pop-up__content">
                <div class="d-flex align-items-center">
                    <i class="material-icons-outlined">
                        error_outline
                    </i>
                    <h3 class="mb-0 ms-3">Xóa tài khoản?</h3>
                </div>
            </div>
            <div class="pop-up__btn d-flex justify-content-end">
                <div @onclick="CloseModalAsync" class="btn px-0 pop-up__btn--deny d-flex justify-content-center align-items-center px-3 me-3">Không</div>
                <div @onclick="CloseModalAsync" class="btn px-0 pop-up__btn--accept d-flex justify-content-center align-items-center px-3 me-3">Có</div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }


    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
    }
}
