/*#region breakpoints */
/*#endregion */
/*#region mixins */
.title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #252733; }

.linkBack {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #18A0FB; }

.content {
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  padding-top: 30px; }
  .content h4 {
    padding-left: 32px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733; }
  .content i {
    color: #C5C7CD; }
  .content span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #4B506D; }
  .content button {
    border: 1px solid #18A0FB;
    color: #18A0FB; }
  .content .sort-account {
    cursor: pointer; }
  .content .more-options-icon {
    cursor: pointer; }

::deep .ant-table-cell {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
  padding: 26px 14px; }
  ::deep .ant-table-cell a {
    color: #252733; }
  @media (min-width: 1400px) {
    ::deep .ant-table-cell {
      padding: 26px 20px; } }

::deep .ant-table-thead > tr > th {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9FA2B4; }

::deep .ant-table-pagination {
  padding: 27px 32px; }

::deep .column-name {
  width: 340px; }
  @media (min-width: 1400px) {
    ::deep .column-name {
      width: 400px; } }

::deep .ant-dropdown-menu-item {
  font-weight: 600 !important;
  font-size: 16px;
  padding: 10px 30px; }

::deep .ant-dropdown-menu-item-selected {
  color: rgba(0, 0, 0, 0.85);
  background-color: none; }
