/*#region breakpoints */
/*#endregion */
/*#region mixins */
.carousel__banner {
  width: 98.9vw;
  height: 644px; }

.banner__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 644px;
  object-fit: cover; }
