<div class="carousel__banner">
    <Carousel Autoplay="TimeSpan.FromSeconds(2)">
        @if (elections is not null)
        {
            int dem = 0;
            @foreach (var item in elections)
            {
                if (dem < 10)
                {
                    <CarouselSlick>
                        <img src="@item.Banner" class="banner__img">
                    </CarouselSlick>
                    dem++;
                }
                else 
                { 
                    break; 
                }
            }
        }
    </Carousel>
</div>
