@import "../../Resources/scss/common/_variables";

.carousel__banner{
    width: 98.9vw;
    height: 644px;
}

.banner__img {
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    height: 644px;
    object-fit: cover;
}