@inject IJSRuntime JSRuntinme;

<h3 class="text-center">Homepage</h3>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntinme.InvokeVoidAsync("uehvote.ShowMess");
        }

    }
}