@inject IJSRuntime JSRuntinme;

<Banner/>

<div>
    <Vote />
    <Vote />
    <Vote />
    <div class="vote__submit">
        <a href="#">Xem tất cả</a>
    </div>
</div>

<Contact />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntinme.InvokeVoidAsync("uehvote.ShowMess");
        }

    }
}