/*#region breakpoints */
/*#endregion */
/*#region mixins */
* {
  padding: 0;
  margin: 0; }

#main-layout {
  width: 100vw; }

.text {
  margin: 100px 0 50px 0;
  color: #18A0FB;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  text-align: center; }
  .text span {
    color: #FACC14; }

.vote__submit {
  display: flex;
  align-items: center;
  justify-content: center; }

.vote__submit a {
  background-color: #18A0FB;
  padding: 16px 24px;
  border-radius: 2px;
  color: #FFFFFF; }
