@inject IJSRuntime JSRuntinme;

<Banner/>
<OwlCarousel/>

<div>
    <h3 class="text">CÁC CUỘC BÌNH CHỌN <span class="yellow">ĐÃ</span> DIỄN RA</h3>
    <Vote ColorBg="#FACC14"/>
    <Vote ColorBg="#18A0FB"/>
    <Vote ColorBg="#FACC14"/>
    <div class="vote__submit">
        <a href="@Routes.ListVote">Xem tất cả</a>
    </div>
</div>

<Contact />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntinme.InvokeVoidAsync("uehvote.ShowMess");
        }
    }
}