/*#region breakpoints */
/*#endregion */
/*#region mixins */
.vote {
  margin-bottom: 75px; }

.vote__content {
  margin: 30px 0 80px; }

.vote__content p {
  margin: 22px 0;
  font-size: 1rem; }

.vote__infor {
  text-align: center; }

.vote__icon__voted, .vote__icon__date, .vote__icon__number {
  margin: 0px 70px 10px;
  padding: 5px 0 15px;
  font-size: 1.5rem;
  color: #18A0FB;
  background: rgba(24, 160, 251, 0.2);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px; }

.vote__icon__number {
  color: #FACC14;
  background: rgba(250, 204, 20, 0.2); }

.number__votes__voted, .number__votes__date {
  color: #18A0FB;
  margin: 2px; }

.number__votes__number {
  color: #FACC14;
  margin: 2px; }

.vote__img {
  position: relative; }

.vote__img__vector {
  z-index: -1;
  position: absolute;
  left: 32.72%;
  right: 0%;
  top: 0%;
  bottom: 7.09%;
  border-radius: 100px 0px 100px 100px;
  width: 66%;
  height: 400px; }

.vote__img__vector img {
  position: absolute;
  left: 35.11%;
  right: -0.02%;
  top: 0%;
  bottom: 34.21%; }

.vote__img__avt img {
  z-index: 0;
  position: absolute;
  left: 10%;
  right: 10.33%;
  top: 0%;
  bottom: 0%;
  border-radius: 20px;
  height: 500px;
  width: 85%; }
