@page "/doi-mat-khau"
@model ChangePasswordModel
@{
    ViewData["Title"] = "";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="changePass w-100 d-flex justify-content-center">
    <h4>@ViewData["Title"]</h4>
    @*<partial name="_StatusMessage" for="StatusMessage" />*@
        <div class="w-50">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h1 class="text-center mb-4"><span class="text-yellow">UEH</span><span class="text-blue">Vote</span></h1>

                <div class="form">
                    <div class="form__text ">
                        <span class="text-blue">Đổi mật khẩu</span>
                    </div>
                </div>

                <div class="form-group my-4 form__input__text">    
                    <span class="input__text__icon material-icons-outlined">
                        perm_identity
                    </span>
                    <input asp-for="Input.OldPassword" class="form-control text-center" placeholder="Tên đăng nhập"/>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group my-4 form__input__password">
                    <span class="input__password__icon material-icons-outlined">
                        lock
                    </span>
                    <input asp-for="Input.NewPassword" class="form-control text-center" placeholder="Mật khẩu" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group my-4 form__input__password">
                    <span class="input__password__icon material-icons-outlined">
                        lock
                    </span>
                    <input asp-for="Input.ConfirmPassword" class="form-control text-center" placeholder="Nhập lại mật khẩu" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-submit">Đăng nhập</button>
            </form>
        </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/changePassword.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}