<Upload
        Name="avatar"
        DefaultFileList="fileList"
        ListType="picture-card"
        OnPreview="(file) => {
                        previewVisible = true;
                        previewTitle = file.FileName;
                        imgUrl = file.Url;
                    }"
        Action="/api/test"
        OnSingleCompleted="(file)=>UploadCompleted(file)"
        OnRemove="(file)=> RemoveImage(file)"
>
    <div>
        <Icon Type="plus"></Icon>
        <div className="ant-upload-text">Upload</div>
    </div>
</Upload>
<Modal Visible="previewVisible"
       Title="previewTitle"
       OnCancel="() => previewVisible = false">
       <img style="width: 100%" src="@imgUrl" />
</Modal>
			