/*#region breakpoints */
/*#endregion */
/*#region mixins */
.my-election {
  margin-bottom: 200px; }
  .my-election h3 {
    font-weight: 600;
    font-size: 36px;
    color: #18A0FB;
    text-align: center;
    margin: 65px 0; }
  .my-election h4 {
    font-weight: 600;
    font-size: 24px;
    color: #18A0FB; }
  .my-election .btn-addElection {
    width: 205px;
    height: 50px;
    border: 1px solid #18A0FB;
    border-radius: 2px;
    font-weight: normal;
    font-size: 16px;
    color: #18A0FB;
    transform: translateY(-100%); }

.election__table--body {
  height: 370px;
  overflow-y: scroll; }
  .election__table--body::-webkit-scrollbar {
    width: 3px;
    height: 5px; }
  .election__table--body::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px; }

.election__table--header {
  background: rgba(24, 160, 251, 0.2); }

.election__table .election__tilte, .election__table .election__text {
  padding: 15px 10px; }

.election__table .election__tilte {
  color: black; }
  .election__table .election__tilte i {
    font-size: 20px;
    transform: translateY(4px); }
  .election__table .election__tilte span {
    font-weight: 600;
    font-size: 12px; }

.election__table .election__tilte--name, .election__table .election__text--name {
  width: 355px; }

.election__table .election__text--name {
  font-weight: 600;
  font-size: 14px;
  color: #001112;
  cursor: pointer; }

.election__table .election__tilte--quantity, .election__table .election__text--quantity {
  min-width: 130px; }

.election__table .election__text--quantity {
  font-weight: 400;
  font-size: 12px;
  color: black;
  text-align: center; }

.election__table .election__tilte--status, .election__table .election__text--status {
  width: 380px; }

.election__table .election__tilte--status .dropdown-menu {
  padding: 22px 35px;
  border-radius: 10px; }

.election__table .election__tilte--status li {
  margin-bottom: 16px; }
  .election__table .election__tilte--status li:last-of-type {
    margin-bottom: 0; }

.election__table .election__text--status {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF; }
  .election__table .election__text--status span {
    padding: 2px 8px;
    border-radius: 4px; }

.election__table .election__tilte--org {
  width: 502px; }

.election__table .election__text--org {
  width: 500px; }

.election__table .election__tilte--org .dropdown-menu {
  padding: 22px 35px;
  border-radius: 10px;
  overflow-y: scroll;
  height: 205px; }
  .election__table .election__tilte--org .dropdown-menu::-webkit-scrollbar {
    width: 3px;
    height: 5px; }
  .election__table .election__tilte--org .dropdown-menu::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px; }

.election__table .election__tilte--org li {
  margin-bottom: 8px; }
  .election__table .election__tilte--org li:last-of-type {
    margin-bottom: 0; }

.election__table .election__text--org {
  font-weight: 400;
  font-size: 14px;
  color: black; }

.election__table .election__tilte--function, .election__table .election__text--function {
  width: 200px; }

.election__table .election__text--function .election__statusBrowse {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer; }

.election__table .election__text--function span {
  width: 27px;
  height: 27px;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  line-height: 27px;
  cursor: pointer; }

.election__table .election__text--function .icon-edit {
  background: rgba(24, 160, 251, 0.2);
  color: #18A0FB; }

.election__table .election__text--function .icon-delete {
  background: rgba(255, 0, 0, 0.2);
  color: #FC0C0C;
  transform: translateY(-2px); }
