@import '../../Resources/scss/common/_variables.scss';

.form-group {
    div:first-child {
        font-weight: 600;
        font-size: 16px;
    }

    .required-asterick {
        color: #F14747;
    }
}

.btn {
    font-size: 16px;

    &-cancel {
        color: $grey-icon;
    }

    &-save {
        color: $blue;
        border: 1px solid $blue;
        border-radius: 2px;
    }
}
