<div class="pop-up">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="pop-up__container position-relative">
            <span @onclick="CloseModal" class="material-icons-outlined btn-close position-absolute">
                close
            </span>
            <div class="pop-up__content mb-4">
                <h3>Lưu đề cử thành công</h3>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }


    private async Task CloseModal()
    {
        await Modal.CloseAsync();
    }
}
