h4 {
  color: #18A0FB;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.015em; }

.my-title {
  margin: 50px 0 30px; }
  .my-title h4 {
    line-height: 38px;
    text-align: center; }
  .my-title h2 {
    color: #3F3F3F;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.015em; }
  .my-title p {
    margin: 0;
    color: #FACC14;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.015em; }
    .my-title p span {
      color: #3F3F3F; }
  .my-title button {
    display: block;
    padding: 15px 20px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); }

.my-description {
  margin-top: 40px; }
  .my-description p {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px; }

.my-video {
  margin-top: 40px; }
  .my-video button {
    float: right;
    margin: 50px 0 30px;
    padding: 5px 15px;
    color: #18A0FB;
    background-color: white;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    border: 2px solid #18A0FB;
    border-radius: 2px; }

.my-img h4 {
  font-weight: 600;
  font-size: 24px;
  color: #18A0FB; }

.my-img .owl-carousel {
  position: relative; }

.my-img .item {
  border-radius: 20px;
  overflow: hidden; }

.my-img img {
  height: 416px; }

.my-img ::deep .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-65%); }
  .my-img ::deep .owl-nav .owl-prev span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 35px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    font-size: 80px;
    color: #18A0FB;
    transition: all 0.3s linear; }
    .my-img ::deep .owl-nav .owl-prev span:hover {
      color: #0B588C;
      opacity: 0.73; }
  .my-img ::deep .owl-nav .owl-prev:hover {
    background: none; }

.my-img ::deep .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-65%); }
  .my-img ::deep .owl-nav .owl-next span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 35px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    font-size: 80px;
    color: #18A0FB;
    transition: all 0.3s linear; }
    .my-img ::deep .owl-nav .owl-next span:hover {
      color: #0B588C;
      opacity: 0.73; }
  .my-img ::deep .owl-nav .owl-next:hover {
    background: none; }
