@attribute [Route(Routes.DetailVote)];
@inject IJSRuntime JSRuntinme;
<section class="my-title">
    <div class="container">
        <h4>Ban phong trào</h4>
        <h2>Nối vòng tay lớn 2021 - Light up</h2>
        <button class="m-auto">
            <p>14440 <span>lượt bình chọn</span></p>
        </button>
    </div>
</section>
<section class="my-poster @(IsAct ? "d-block" : "d-none")">
    <img class="w-100" src="./img/banner-detail-vote.png" />
</section>
<section class="my-description">
    <div class="container">
        <h4>Mô tả đề cử</h4>
        <p>
            Cuối cùng Đêm đại nhạc hội ánh sáng được đông đảo sinh viên UEH chờ đợi sắp được diễn ra‼️ Những phút Rehearsal bên dưới càng làm bầu không khí thêm nóng hơn‼️ Như vậy sau một đêm khai mạc “xịn xò” các bạn đã thật sự rất nóng lòng muốn bước vào Gather để đến với Breakroom Gaming chưa nè? Mọi thứ đã được chuẩn bị sẵn sàng chỉ còn chờ đúng 18h30 đếm nay. Và đoán xem ngày đầu tiên của Breakroom sẽ chào đón sự xuất hiện của ai nào? <br />🔥 Lần đầu tiên, một Đêm đại nhạc hội ứng dụng đầy yếu tố công nghệ <br />🔥 Lần đầu tiên có một “Lighting show" cực cháy <br />🔥 Lần đầu tiên, một Đêm đại nhạc hội với sân khấu hoàn toàn mới, khác hoàn toàn sân khấu tại Breakroom Gaming <br />🔥 Lần đầu tiên, một Đêm đại nhạc hội không giới hạn số lượng sinh viên, tạo điều kiện cho toàn thể UEHer có thể tham gia <br />🎁 Và sẽ còn rất nhiều lần đầu tiên khác mà Đêm đại nhạc hội đã sẵn sàng chuẩn bị mang đến cho các bạn. <br />LIGHT UP cùng đếm ngược nhé ⁉️ <br />Như vậy sau một đêm khai mạc “xịn xò” các bạn đã thật sự rất nóng lòng muốn bước vào Gather để đến với Breakroom Gaming chưa nè? <br />Mọi thứ đã được chuẩn bị sẵn sàng chỉ còn chờ đúng 18h30 đếm nay. Và đoán xem ngày đầu tiên của Breakroom sẽ chào đón sự xuất hiện của ai nào? <br />Sự kiện trực tuyến trên các nền tảng: Như vậy sau một đêm khai mạc “xịn xò” các bạn đã thật sự rất nóng lòng muốn bước vào Gather để đến với Breakroom Gaming chưa nè? <br />Mọi thứ đã được chuẩn bị sẵn sàng chỉ còn chờ đúng 18h30 đếm nay. Và đoán xem ngày đầu tiên của Breakroom sẽ chào đón sự xuất hiện của ai nào? <br />👉 Youtube UEH Entertainment: https://youtube.com/c/UEHEntertainment <br />👉 Fanpage UEH: https://www.facebook.com/DHKT.UEH <br />👉 Fanpage Youth UEH Community: https://www.facebook.com/youthueh <br />⚡️ Đừng quên theo dõi Fanpage để đón xem những chương trình đặc sắc sắp tới nhé! <br />_________ <br />© Thuộc chuỗi truyền thông chương trình chào đón tân sinh viên khoá 47 "LIGHT UP" <br />Mọi thông tin chi tiết vui lòng liên hệ: <br />📌 Fanpage: Ban Phong trào - Tình nguyện UEH <br />💌 Mail: banphongtrao@ueh.edu.vn
        </p>
    </div>
</section>
<section class="my-img container ">
    <h4 class="my-4">Hình ảnh đề cử</h4>
    <div class="owl-carousel owl-theme">
        @foreach (var item in imgDetail)
        {
            <div class="item px-2">
                <img class="w-100" src="@item.Img" />
            </div>
        }
    </div>
</section>
<section class="my-video">
    <div class="container">
        <h4>Video về đề cử</h4>
        <iframe class="w-100" height="730" src="https://www.youtube.com/embed/etJIXYiIbJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <button>Xem bảng xếp hạng</button>
    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntinme.InvokeVoidAsync("uehvote.DetailVoteCarousel");
        }
    }
    private bool IsAct = true;
    class FakeData
    {
        public int Id { get; set; }
        public string Img { get; set; }
    }
    private List<FakeData> imgDetail = new();
    protected override void OnInitialized()
    {
        for (int i = 1; i < 7; i++)
        {
            imgDetail.Add(new FakeData()
            {
                Id = i,
                Img ="./img/ảnh-đề-cử"+ i + ".png",
            });
        }
    }
}
