@import '../../../Resources/scss/common/_variables.scss';
body {
    max-width: 100% !important;
    background-color: #E5E5E5;
}

.text-yellow {
    color: #FACC14;
}

.text-blue {
    color: $blue;
}

.form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding-bottom: 8px;

    .form__text {
        border-bottom: 3px solid #0058C0;
        padding-bottom: 3px;
        width: 100px;
    }
}

.form__input__text {
    position: relative;

    .input__text__icon {
        position: absolute;
        top: 6px;
        left: 10px;
        color: $blue;
        padding-right: 20px;
    }
}

.form__input__password {
    position: relative;

    .input__password__icon {
        position: absolute;
        top: 6px;
        left: 10px;
        color: $blue;
        padding-right: 20px;
    }
}

.btn-submit {
    width: 100%; 
    background-color: $blue;
    color: $white;
}